{% extends 'base.html' %}
{% load static %}

{% block content %}


    

<div class="container-fluid bg-dark feature py-5 pb-lg-0 mb-3 " id="How-to-Apply">
    <div class=" text-center w-50 center-block" style="background-color: azure; justify-content: center;">
        <h2 >Busary Application Process</h2>
    </div>
    <div class="container py-5 pb-lg-0">
        <div class="row g-5">
            <div class="col-lg-3">
                <div class="feature-item text-center">
                    <div class="feature-icon bg-success">
                        <i class="fas fa-clipboard-check fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Attend Bursary Meeting</h4>
                    <p>Be part of the Bursary Meeting where you can register and get acquainted with the application process. These meetings are held periodically to guide applicants.</p>
                </div>
                <div class="feature-item text-center">
                    <div class="feature-icon bg-primary">
                        <i class="fas fa-file-signature fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Submit Your Application</h4>
                    <p>Complete the application process by submitting all required documents. This includes academic transcripts and photocopies of relevant IDs.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-6">
                    <div class="text-center">

                        <i class="fas fa-users fa-5x text-white "></i><br>
                        <i class="fas fa-long-arrow-alt-down fa-5x text-white"></i><br>


                        <i class="fas fa-clipboard-check fa-5x text-white"></i>
                        <i class="fas fa-long-arrow-alt-right fa-5x text-white"></i>
                        <i class="fas fa-hourglass-half fa-5x text-white"></i><br>
                        <i class="fas fa-long-arrow-alt-down fa-5x text-white"></i><br>


                        <i class="fas fa-handshake fa-5x text-white "></i>

                    </div>
                </div>  </div>
            <div class="col-lg-3">
                <div class="feature-item text-center">
                    <div class="feature-icon bg-info">
                        <i class="far fa-clock fs-4 text-white"></i> 
                    </div>
                    <h4 class="text-white">Wait for Processing</h4>
                    <p>Once the application period ends, our dedicated committee will carefully review each application. This process may take some time as we ensure fairness and accuracy in the selection.</p>
                </div>
                <div class="feature-item text-center">
                    <div class="feature-icon bg-warning">
                        <i class="fas fa-hand-holding-usd fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Receive Your Bursary</h4>
                    <p>Congratulations! Successful applicants will be notified of their bursary awards. The awarded funds will be disbursed to the respective educational institutions.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="mathira-overview" class="py-5 section shadow p-3 mb-5 rounded border border-light">
    <div class="container bg-dark">
      <div class="row">
        <!-- Overview Column -->
        <div class="col-md-12 text-white">
          <div class="overview-column p-4">
            <div class="jumbotron text-center">
    <h2 >Tips for Securing a Bursary in Mathira Constituency</h2>
</div>
    <ol class="row g-5">
        <li class="col-lg-6"><strong>Research Available Opportunities:</strong><br> Conduct thorough research on scholarships and bursaries available in Mathira Constituency. Check with local educational institutions, government programs, community organizations, and private corporations for potential opportunities.</li>
    
        <li class="col-lg-6"><strong>Understand Eligibility Criteria:</strong><br> Carefully read and understand the eligibility criteria for each scholarship or bursary. Ensure that you meet the qualifications, including academic, financial need, community involvement, or specific field of study.</li>
    
        <li class="col-lg-6"><strong>Maintain Academic Excellence:</strong><br> Maintain a high academic standard by consistently achieving good grades. Many scholarships require a minimum GPA, so strive for academic excellence to meet these criteria.</li>
    
        <li class="col-lg-6"><strong>Participate in Extracurricular Activities:</strong><br> Engage in extracurricular activities, community service, or sports. Active involvement in various activities demonstrates your commitment and leadership skills, which are often valued by scholarship providers.</li>
    
        <li class="col-lg-6"><strong>Volunteer and Community Service:</strong><br> Volunteer within the Mathira Constituency community to demonstrate your dedication to improving the local area. Many scholarships appreciate applicants who actively contribute to their community.</li>
    
        <li class="col-lg-6"><strong>Seek Guidance from Educational Institutions:</strong><br> Consult your school's guidance counselor or academic advisor. They often have information about local scholarships and can provide guidance on the application process.</li>
    
        <li class="col-lg-6"><strong>Prepare a Strong Application:</strong><br> Craft a well-structured and compelling scholarship application. Tailor your application to each scholarship's specific requirements and make sure it showcases your achievements, goals, and aspirations effectively.</li>
    
        <li class="col-lg-6"><strong>Write a Standout Essay:</strong><br> If an essay is required, invest time in drafting a well-written, authentic, and compelling essay. Clearly articulate your passion for education, career goals, and how the scholarship will assist you in achieving them.</li>
    
        <li class="col-lg-6"><strong>Letters of Recommendation:</strong><br> Request letters of recommendation from teachers, mentors, or community leaders who can speak to your character, abilities, and potential. Ensure these letters reflect your dedication and suitability for the scholarship.</li>
    
        <li class="col-lg-6"><strong>Meet Deadlines and Follow Instructions:</strong><br> Be punctual and submit all required documents before the specified deadlines. Ensure you've followed all instructions precisely to avoid disqualification.</li>
      </ol>
            
          </div>
        </div>
  
  
  
  
        <!-- Map Column -->
      </div>
    </div>
  </section>

  


<div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 m-2 p-3 " style="border-radius: 100px;" >
    <h6 class=" text-uppercase p-3">Busary Image Gallery</h6>
   
  </div>
    <div class="container py-5 pb-lg-0 container-fluid bg-footer feature">
        <div class="card col-lg-12 bg-dark">
        
        <section class="section">
            <div class="container">
            <div class="row ">
              {% for image in images %}
      <div class="col-md-4 mb-4">
                <div class="card bg-dark">
                  <div class="card-body">
                    <h5 class="card-title text-light">Busary Image</h5>
                    <!-- Slides only carousel -->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                                
                            <img src="/{{ image }}" class="d-block w-100" alt="...">
                          </div>
                       
                      </div>
                    </div><!-- End Slides only carousel-->
                </div>
                  </div>
                </div>

                {% endfor %}
               
                
                
               
    
    
                </div>
                 
    
              </div>
            </div>
          </section>
                    </div>
                </div>

                    
      
   


<!-- End Modals -->



 

    

{% endblock %}

