{% extends 'base.html' %}

{% block content %}
<section id="mathira-overview" class="py-5 section shadow p-3 mb-5 rounded border border-light bg-dark">
    <div class="container">
      <div class="row">
        <!-- Overview Column -->
        <div class="col-md-12 text-white">
          <div class="overview-column p-4">
            
<div class="container">
    
    <div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 m-2 p-3 " style="border-radius: 100px;" >
    <h6 class=" text-uppercase p-3">Project Application Process</h6>
   
  </div>
    <div class="row g-5">
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-file-earmark-arrow-up"></i>

        </div>
      <h5 class="text-light">Step 1: Submission of Project Proposal</h5>
      <p>Start by preparing a detailed project proposal that outlines your idea, its objectives, expected outcomes, and how it aligns with the mission and values of our organization. Ensure to provide accurate and comprehensive information about the project.</p>
     
    </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-pencil"></i>

        </div>
      <h5 class="text-light">Step 2: Complete the Application Form</h5>
      <p>Fill out the project application form available on this page. The form will typically require you to provide essential details such as your name, ID number, select the project you're applying for, phone number, and a description of your project.</p>
     
    </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-upload"></i>

        </div>
      <h5 class="text-light">Step 3: Submission of Application</h5>
      <p>Submit the completed application form by clicking the 'Submit' button. Ensure that all the required fields are filled accurately and completely. A confirmation message will be displayed to acknowledge receipt of your application.</p>
     
    </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-journal-check"></i>

        </div>
      <h5 class="text-light">Step 4: Application Review</h5>
      <p>Our team will carefully review your application and assess its alignment with our organization's mission and values. We'll also evaluate the project's potential for positive impact and its feasibility.</p>
      
    </div>
  
    <div class="step col-lg-6">
        
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-chat-dots"></i>

        </div>
      <h5 class="text-light">Step 5: Contact and Further Discussion</h5>
      <p>If your project aligns well with our mission and goals, we will reach out to you for further discussion. This might include additional questions or a request for more detailed information about the project.</p>
      
    </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-check-circle"></i>

        </div>
      <h5 class="text-light">Step 6: Project Approval</h5>
      <p>Upon successful review and discussion, your project will be approved. We will notify you of the approval and provide guidance on the next steps in implementing your project effectively.</p>
    </div>
</div>
  
  </div>
  
  
          </div>
        </div>
  
  
  
  
        <!-- Map Column -->
      </div>
    </div>
  </section>

    <div class="container-fluid bg-dark feature py-5 pb-lg-0" id="How-to-Apply" style="margin-bottom: 135px;">
        <div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 m-2 p-3 " style="border-radius: 100px;" >
            <h6 class=" text-uppercase p-3">Project Request Form</h6>
           
          </div>
        <div class="container py-5 pb-lg-0">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="text-white mb-5">
                        
                        <div class="instructions">
                            <div class=" text-center bg-new w-50  " style="border-radius: 100px;" >
                                <h6 class=" text-uppercase p-2"> Form Guide</h6>
                               
                              </div>
                            <h2>How to Use the Project Application Form</h2>
                            <p>Welcome to the Project Application Form. Please follow these steps to submit your project proposal:</p>
                            <ol>
                              <li><strong>Name:</strong> Enter your full name in the provided field.</li>
                              <li><strong>Phone Number:</strong> Provide your contact phone number.</li>
                              <li><strong>Project:</strong> Choose the project you are applying for from the dropdown menu.</li>
                              <li><strong>Ward:</strong> Select the ward associated with your project from the dropdown list.</li>
                              <li><strong>Location:</strong> Choose the location relevant to your project from the dropdown options.</li>
                              <li><strong>Project Description:</strong> Describe your project in detail in the provided text area.</li>
                              <li><strong>Date:</strong> Select the date for your application.</li>
                            </ol>
                            <p>After filling out all the necessary information, click the "Submit" button to send your project proposal. We look forward to reviewing your application and considering your project for approval.</p>
                          </div>
                              </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-block bg-primary h-100 text-center p-5 pb-lg-0">
                    <h4 class="text-white">Online Booking </h4>
                    <form method="POST" >

                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <!-- Add the form fields from forms.py -->
                     <div class="row g-3 text-white" >
                        <div class="col-md-6">
                            {{ form.name.label_tag }} {{ form.name }}
                        </div>
                    
                        <div class="col-md-6">
                           
                            {{ form.phone_number.label_tag }} {{ form.phone_number }}

                        </div>
                 
                        <div class="col-md-6">
                            {{ form.project.label_tag }} {{ form.project }}
    
                            </div>
                       
                        <div class="col-md-6">
                            {{ form.ward.label_tag }} {{ form.ward }}

                        </div>
                        <div class="col-md-6">
                            {{ form.location.label_tag }} {{ form.location }}

                        </div>
                        <div class="col-md-6">
                            {{ form.sub_location.label_tag }} {{ form.sub_location }}

                        </div>
                        <div class="col-md-6">
                            {{ form.project_description.label_tag }} {{ form.project_description }}
    
                            </div>
                        <div class="col-md-6">
                        {{ form.date.label_tag }} {{ form.date }}

                        </div>
                       
                        
                         <br>
                        <button type="submit" class="btn btn-primary py-md-3 px-md-5">Submit</button>
                      </div>
                    </form>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>



   
{% endblock %}

