/********** Template CSS **********/

:root {
  --primary: #34AD54;
  --secondary: #ffb833;
  --light: #F6FFF2;
  --dark: #263A4F;
}

.alert-danger{
  display:none;
}
.alert-success{
  display:none;
}

.Id-Cards{
  display:none;
}


.btn {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  transition: .5s;
}

.btn-primary,
.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

  /* Add rounded corners to the navigation bar */
  nav.navbar {
    border-radius: 20px; /* Adjust the value to control the roundness */
  }



.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #003366;
  text-transform: uppercase;
  transition: .5s;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  background: var(--secondary);
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link  {
      padding: 10px;
  }
}

@media (max-width: 576px) {
  .carousel-caption h4 {
      font-size: 18px;
      font-weight: 500 !important;
  }

  .carousel-caption h1 {
      font-size: 30px;
      font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.bg-hero {
  background: url(../img/Bursaries.jpg) top right no-repeat;
  background-size: cover;
}


.bg-appointments {
  background: url(../img/Appointments.jpg) top right no-repeat;
  background-size: cover;
}

.bg-Opp {
  background: url(../img/Possibilities.jpg) top right no-repeat;
  background-size: cover;
}


.bg-Opportunities {
  background: url(../img/Shaking.jpg) top right no-repeat;
  background-size: cover;
}


.bg-Projects {
  background: url(../img/Water.jpeg) top right no-repeat;
  background-size: cover;
}

.bg-Projects-Desc {
  background: url(../img/Traffic.jpg) top right no-repeat;
  background-size: cover;
}

.bg-Abroad {
  background: url(../img/Plane.jpg) top right no-repeat;
  background-size: cover;
}

.bg-Professionals {
  background: url(../img/Professionals.jpeg) top right no-repeat;
  background-size: cover;
}

.bg-Uwezo {
  background: url(../img/Uwezo.jpeg) top right no-repeat;
  background-size: cover;
}

.bg-Diversity {
  background: url(../img/Diversity.jpg) top right no-repeat;
  background-size: cover;
}


@media (min-width: 991.98px) {
  .banner {
      position: relative;
      margin-top: -90px;
      z-index: 1;
  }
}

.bg-vegetable {
  background: linear-gradient(rgba(52, 173, 84, .2), rgba(52, 173, 84, .2)), url(../img/vegetable.png) bottom right no-repeat;
  background-size: contain;
}

.bg-fruit {
  background: linear-gradient(rgba(255, 153, 51, .2), rgba(255, 153, 51, .2)), url(../img/fruit.png) bottom right no-repeat;
  background-size: contain;
}

.bg-kenyans {
  background: linear-gradient(rgba(255, 153, 51, .2), rgba(255, 153, 51, .2)), url(../img/Event.jpg) bottom right no-repeat;
  background-size: cover;
}

.bg-Overview {
  background: linear-gradient(rgba(255, 153, 51, .2), rgba(255, 153, 51, .2)), url(../img/Eve.jpg) bottom right no-repeat;
  background-size: cover;
}

.bg-timetable {
  background: linear-gradient(rgba(255, 153, 51, .2), rgba(255, 153, 51, .2)), url(../img/Agenda.jpg) bottom right no-repeat;
  background-size: contain;
}

.service-item {
  box-shadow: 0 0 45px #EDEDED;
  transition: .5s;
}

.about i,
.service-item i {
  background-image: linear-gradient(var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .5s;
}

.service-item:hover {
  color: var(--light);
  background: var(--primary) !important;
}

.service-item:hover i {
  background-image: linear-gradient(var(--light), var(--secondary));
}

.service-item:hover h4 {
  transition: .5s;
}

.service-item:hover h4 {
  color: var(--light);
}

.product-item {
  padding: 0 30px 30px 30px;
}

.product-item .btn-action {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  opacity: 0;
  transition: .5s;
}

.product-item:hover .btn-action {
  bottom: 0;
  opacity: 1;
}

.product-item h5 {
  transition: .5s;
}

.product-item:hover h5 {
  opacity: 0;
}

.product-carousel::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 55%;
  bottom: 0;
  left: 0;
  background: url(../img/bg-product-1.png) left bottom no-repeat, url(../img/bg-product-2.png) right bottom no-repeat;
  background-size: contain;
  background-color: var(--primary);
  z-index: -1;
}

.product-carousel .owl-nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next{
  position: relative;
  width: 55px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #FFFFFF;
  font-size: 22px;
  transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
  color: var(--secondary);
}

.bg-testimonial {
  background: url(../img/testimonial.jpg) top center no-repeat;
  background-size: cover;
}

.testimonial-carousel {
  background: rgba(52, 173, 84, .7);
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 46px);
  height: 46px;
  top: calc(50% - 23px);
  left: -23px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #FFFFFF;
  font-size: 22px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--secondary);
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}

.blog-item img {
  transition: .5s;
}

.blog-item:hover img {
  transform: scale(1.2);
}

.blog-overlay {
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: linear-gradient(rgba(52, 173, 84, 0), rgba(52, 173, 84, 1));
  z-index: 1;
}

.bg-footer {
  background: linear-gradient(rgba(52, 173, 84, .7), rgba(52, 173, 84, .7)), url(../img/footer.png) center bottom no-repeat;
  background-size: contain;
}

@media (min-width: 991.98px) {
  .bg-footer {
      margin-top: 90px !important;
  }
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
.cor{
  background: blue;
}




 
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: var(--primary);
}

.bg-new{
  background-color: #33cfff;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: false;
}
