{% extends 'base.html' %}
{% load static %}

{% block content %}
  
    
    <div class="container-fluid py-2">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h3 class="text-white text-uppercase">Diaspora Affairs</h3>
            </div>
            <div class="row g-0">
                <div class="col-lg-7">
                    <div class="bg-dark h-100 p-5">
                        <p class="text-white">
                            The Mathira Diaspora Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Diaspora Forum was established to facilitate their engagement.

                            This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                            
                            One of the pivotal roles of this diaspora group is to bridge opportunities for Mathira residents, linking them with promising prospects for employment and entrepreneurial ventures overseas. This not only fosters professional growth but also fosters a strong sense of unity and empowerment within the Mathira community.
                            
                            Through their combined efforts and a shared sense of responsibility towards their roots, the Mathira Diaspora Forum endeavors to make a lasting and positive impact on the socio-economic landscape of Mathira. </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-primary h-100 p-5">
                        <h2 class="text-white mb-4">Diaspora Leadership</h2>
                        <ol class="text-white">
                            <li>Chairman - Amos David<br> Based in Washington, USA, leads the forum with enthusiasm and a vision to drive impactful initiatives.<br>

                            </li>
                            <li>Secretary -<br> Gachagua Rigthi<br> currently residing in Tenessee, USA, serves as the diligent Secretary, ensuring smooth operations and effective communication within the forum. <br></li>
                            <li>Treasurer <br> Lucy Wanjiru<br> located in Houston, USA, is entrusted with the vital role of Treasurer and Resource Mobilisation, managing the financial aspects and facilitating the mobilisation of resources for the forum's ventures.<br></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    



    
    
    


{% endblock %}




