{% extends 'staff_base.html' %}
{% load static %}

    {% block content %}
    <div class="pagetitle">
        <h1>Corousel</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Customizer</li>
            <li class="breadcrumb-item active">Corousel</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Corousel</h5>

            <!-- Slides only carousel -->
            <div  class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="">
                  <form method="POST" enctype="multipart/form-data">
                  {%  csrf_token %}
                
                  <label for="me" class="text-dark">{{ form.corousel_type.label_tag }}</label>
                  {{ form.corousel_type }}

                    <label for="me" class="text-dark">{{ form.corousel_images.label_tag }}</label>
                    {{ form.corousel_images }}
                      <input type="submit">
                  </form>
                </div>
              </div>
            </div><!-- End Slides only carousel-->
          </div>
        </div>


      <section class="section">
        <div class="container">
          <div class="row">

        
       
          {% for image,id in images %}

           
            
          <div class="col-lg-6">
          
            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"> {{image.corousel_type}} Image </h5>
                
                <a
                        href="{% url 'delete_image' id=id column_name='corousel_images' model='Corousel_Images' %}"
                        class="btn btn-danger btn-sm"
                        >Delete</a
                      >
                <!-- Slides only carousel -->
                <div  class="" data-bs-ride="">
                  <div class="text-dark">
                    <div class="carousel-item active">
                      <img src="/{{ image.corousel_images }}" class="d-block w-100" alt="...">
                    </div>
                  

                  </div>
                </div><!-- End Slides only carousel-->
              </div>
            </div>
        
            
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


      </section>



    {% endblock %}