{% extends 'staff_base.html' %}
{% load static %}

    {% block content %}
    <div class="pagetitle">
        <h1>Carousel</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Components</li>
            <li class="breadcrumb-item active">Carousel</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section">
        <div class="container">
        <div class="row ">
          
  <div class="col-lg-6 mb-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Team</h5>
                 <a href="{% url 'images' column_name='Team' %}">Edit</a>
                <!-- Slides only carousel -->
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                            
                        <img src="{% static 'img/common/team.jpeg' %}" class="d-block w-100" alt="...">
                      </div>
                    {% for team_image in team_images %}
                    {% if team_image != '' %}
                    <div class="carousel-item ">
                      <img src="/{{team_image}}" class="d-block w-100" alt="...">
                    </div>
                    {% endif %}

                    {% endfor %}
                  </div>
                </div><!-- End Slides only carousel-->
            </div>
              </div>
            </div>
            <div class="col-lg-6 mb-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Corousel</h5>
                   <a href="{% url 'images' column_name='Corousel'  %}">Edit</a>
                  <!-- Slides only carousel -->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            
                            <img src="{% static 'img/common/corousel.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                        {% for corousel_image in corousel_images %}
                        {% if corousel_image != '' %}
                        <div class="carousel-item">
                          <img src="/{{corousel_image}}" class="d-block w-100" alt="...">
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                  </div><!-- End Slides only carousel-->
                </div>
                </div>
              </div>

              <div class="col-lg-6 mb-6">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Outlook</h5>
                       <a href="{% url 'images' column_name='Outlook'  %}">Edit</a>
                      <!-- Slides only carousel -->
                      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                
                                <img src="{% static 'img/common/outlook.jpg' %}" class="d-block w-100" alt="...">
                              </div>
                            {% for outlook_image in outlook_images %}
                                        {% if outlook_image != '' %}
    
                            <div class="carousel-item ">
                              <img src="/{{outlook_image}}" class="d-block w-100" alt="...">
                            </div>
                                     {% endif %}
                            {% endfor %}
    
                        </div>
                      </div><!-- End Slides only carousel-->
        
                    </div>
                  </div>
                </div>
    
        
            

            

              <div class="col-lg-6 mb-6">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Busary</h5>
                   <a href="{% url 'images' column_name='Busary'  %}">Edit</a>
                  <!-- Slides only carousel -->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            
                            <img src="{% static 'img/common/busary.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                        {% for busary_image in busary_images %}
                        {% if busary_image != '' %}

                        <div class="carousel-item ">
                            
                          <img src="/{{busary_image}}" class="d-block w-100" alt="...">
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                  </div><!-- End Slides only carousel-->
    
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-6">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Project</h5>
                   <a href="{% url 'project_customizer' %}">Edit</a>
                  <!-- Slides only carousel -->
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            
                            <img src="{% static 'img/common/project.jpg' %}" class="d-block w-100" alt="...">
                          </div>
                        {% for image in project_images %}
                        {% if image != '' %}

                        <div class="carousel-item ">
                            
                          <img src="/{{ image }}" class="d-block w-100" alt="...">
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                  </div><!-- End Slides only carousel-->
    
                </div>
              </div>
            </div>
            </div>
            

          </div>
        </div>
      </section>



    {% endblock %}