{% extends 'staff_base.html' %}
{% load static %}

    {% block content %}
    <div class="pagetitle">
        <h1>Past</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Customizer</li>
            <li class="breadcrumb-item active">Past Project</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Past Projects</h5>

            <!-- Slides only carousel -->
            <div  class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="">
                  <form method="POST" enctype="multipart/form-data">
                  {%  csrf_token %}
                <div class="container">
                  
                <div class="text-center m-2">
                    <label for="me" class="text-dark">{{ form.Past_Project.label_tag }}</label>
                    {{ form.Past_Project }}

                </div>
                </div>
            </div>
                      <input type="submit">
                  </form>
                </div>
              </div>
            </div><!-- End Slides only carousel-->
          </div>
        </div>


      <section class="section">
        <div class="container">
          <div class="row">

        
          {% for image,id in images  %}
          <div class="col-lg-6">
          
            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">project</h5>
                
                <h5 class="card-title">Past project</h5>
                    
                <a
                        href="{% url 'delete_image' id=id column_name='Past_Project' is_described=0 %}"
                        class="btn btn-danger btn-sm"
                        >Delete</a
                      >
                <!-- Slides only carousel -->
                <div  class="" data-bs-ride="">
                  <div class="text-dark">
                    <div class="carousel-item active">
                      <img src="/{{ image.Past_Project }}" class="d-block w-100" alt="...">
                    </div>
                  

                  </div>
                </div><!-- End Slides only carousel-->
              </div>
            </div>
        
            
          </div>
          
          
          {% endfor %}

        </div>
      </div>
    </div>


      </section>



    {% endblock %}