{% extends 'staff_base.html' %}
{% load static %}

    {% block content %}

    <div class="container">
      <div class="row g-5">
        
        <!-- Revenue Card -->
        {% for model_name, model_context in contexts.items %}
        <div class=" col-md-6">
          <div class="card info-card revenue-card">
  
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
  
                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>
  
            <div class="card-body">
              <h5 class="card-title"> {{ model_name }}
              </h5>
  
              <div class="d-flex align-items-center">
                
                <div class="ps-3">
                  
            <p>New: {{ model_context.new }}</p>

            <p>Total Applied: {{ model_context.applied }}</p>
            <p>Approved: {{ model_context.approved }}</p>
  
                </div>
              </div>
            </div>
  
          </div>
        </div>
        {% endfor %}

      

      </div>
    </div>
 

   


   


      {% endblock %}