{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid bg-dark feature py-5 pb-lg-0" id="How-to-Apply" style="margin-bottom: 135px;">
    <div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 m-2 p-3 " style="border-radius: 100px;" >
        <h6 class=" text-uppercase p-3">Have Some Issue To Discuss Book Your Appointment Today</h6>
       
      </div>

    <div class="container py-5 pb-lg-0">
        <div class="text-white mb-5">
        <div class="row g-5">
                
                    <div class="col-lg-6 p-3">
                    <!-- Process 1 -->
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-users fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Contacting the MP's Office </h4>
                    <p class="mb-0">To initiate the process of engaging with the MP in Mathira, residents can start by reaching out to the MP's office. They can make contact via phone at 0111204383 or through email at info@Mathiraconstituency.com. The office staff will then assist in providing available dates for the meeting and proceed to schedule an appointment..</p>
                    </div>
                    <div class="col-lg-6 p-3">
                    <!-- Process 2 -->
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-clock fs-4 text-white"></i> 
                    </div>
                    <h4 class="text-white">Confirming the Appointment</h4>
                    <p class="mb-0">After successfully booking an appointment, residents need to confirm the scheduled meeting. This confirmation entails providing essential personal details such as their full name and ID number. This verification process ensures identity authentication and contributes to the productivity and security of the meeting.</p>
                    </div>
                    <div class="col-lg-6 p-3">
                    <!-- Additional Process 1 -->
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-calendar-check fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Meeting with the MP</h4>
                    <p class="mb-0">Attend the scheduled meeting with the MP at the designated location. Discuss your concerns, proposals, or inquiries with the MP and seek their assistance and guidance.</p>
                    </div>
                    <div class="col-lg-6 p-3">
                    <!-- Additional Process 2 -->
                    <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-comments fs-4 text-white"></i>
                    </div>
                    <h4 class="text-white">Follow-up and Feedback</h4>
                    <p class="mb-0">After the meeting, follow up on any action items discussed with the MP or their office. Provide feedback on the outcome and effectiveness of the meeting to help improve future interactions and services.</p>
                </div>                    </div>
            </div>
           
            <div class="col-lg-3">
                <div class="text-white mb-5">
                    <!-- Optional: Add content for the third column here -->
                </div>
            </div>
        </div>
    </div>





<div class="container-fluid bg-dark feature py-5 pb-lg-0 bg-dark" id="How-to-Apply" style="margin-bottom: 135px;">
    <div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 m-2 p-3 " style="border-radius: 100px;" >
        <h6 class=" text-uppercase p-3">Book Your Appointment</h6>
       
      </div>

    <div class="container py-5 pb-lg-0">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="text-white mb-5">
                    <div class="instructions">
                        <div class=" text-center bg-new w-50  " style="border-radius: 100px;" >
                            <h6 class=" text-uppercase p-2"> Form Guide</h6>
                           
                          </div>
                        <h2>How to Use the Project Application Form</h2>
                        <p>Follow these instructions to complete the project application form:</p>
                        <ol>
                          <li><strong>Name:</strong> Enter your full name in this field.</li>
                          <li><strong>ID Number:</strong> Provide your identification number.</li>
                          <li><strong>Phone Number:</strong> Enter your contact phone number.</li>
                          <li><strong>Gender:</strong> Select your gender from the options.</li>
                          <li><strong>Age:</strong> Specify your age in this field.</li>
                          <li><strong>Education Level:</strong> Choose your education level from the dropdown menu.</li>
                          <li><strong>Ward:</strong> Select the ward associated with your location from the options.</li>
                          <li><strong>Location:</strong> Choose your location from the dropdown list.</li>
                          <li><strong>Sub-Location:</strong> Select your sub-location from the available options.</li>
                          <li><strong>Date:</strong> Pick the date relevant to your application using the calendar.</li>
                          <li><strong>Agenda:</strong> Describe your project agenda or purpose in detail in this text area.</li>
                        </ol>
                        <p>Ensure all information is accurate and complete before clicking the "Submit" button to send your project application. We look forward to reviewing your proposal and considering it for approval.</p>
                      </div>
                      
                    
                   </div>
            
                    
            </div>
            <div class="col-lg-6 p-3">
                <div class="d-block bg-primary h-100 text-center p-5 pb-lg-0">
                    <h4 class="text-white">Online Booking </h4>
                    <form method="POST">
                        {% csrf_token %}
                        {% include 'partials/messages.html' %}

                        <!-- Add the form fields from forms.py -->
                        <div class="row g-3 text-white" >
                            <div class="col-md-6">
                                {{ form.name.label_tag }} {{ form.name }}
                            </div>
                            
                            <div class="col-md-6">
                                {{ form.id_number.label_tag }} {{ form.id_number }}

                            </div>
                          
                            <div class="col-md-6">

                                {{ form.phone_number.label_tag }} {{ form.phone_number }}

                            </div>
                            <div class="col-md-6">
                                {{ form.gender.label_tag }} {{ form.gender }}

                            </div>
                            <div class="col-md-6">
                                {{ form.age.label_tag }} {{ form.age }}

                            </div>
                            <div class="col-md-6">
                                {{ form.education_level.label_tag }} {{ form.education_level }}

                            </div>

                            <div class="col-md-6">
                                {{ form.ward.label_tag }} {{ form.ward }}

                            </div>
                            <div class="col-md-6">
                                {{ form.location.label_tag }} {{ form.location }}

                            </div>
                            <div class="col-md-6">
                                {{ form.sub_location.label_tag }} {{ form.sub_location }}

                            </div>
                            <div class="col-md-6">
                            {{ form.date.label_tag }} {{ form.date }}

                            </div>
                            <div class="col-md-12 h-50">
                                {{ form.agenda.label_tag }} {{ form.agenda }}

                            </div>

                        </div>


                        <button type="submit" class="btn btn-primary py-md-3 px-md-5">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-white mb-5">
                    <!-- Optional: Add content for the third column here -->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}




