{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
 
    
<meta charset="utf-8">
<title>Mathira Constituency</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Mathira Constituency Nyeri, Mathira NG-CDF, Nyeri County Kenya, Mathira Development Projects, Community Empowerment Nyeri, Local Governance Mathira, Nyeri County Development, Mathira Sub-County Kenya, Civic Engagement Nyeri, Mathira NG-CDF Projects, Nyeri County Initiatives, Mathira Constituency News, Nyeri County Government, Nyeri County Community Development, Mathira Education Programs, Mathira Health Services, Mathira Youth Empowerment, Agriculture Projects Nyeri, Infrastructure Development Mathira" name="keywords">
<meta content="Mathira Constituency in Nyeri, Kenya - NG-CDF projects, community development, civic engagement, and local governance. Explore Nyeri County's initiatives, education programs, health services, and youth empowerment. Stay updated with Mathira Constituency news and government efforts for infrastructure and agriculture projects." name="description">
<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- <link href="{% static 'img/favicon.ico' %} rel="icon"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" font-display="swap" rel="stylesheet"> -->
<link href="{% static 'css/all.min.css' %}" font-display="swap" rel="stylesheet">
<link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" as="style" onload="this.rel='stylesheet'">


<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Online-Reg.js -->
    <!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/subscribe.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
  <script src="{% static 'js/locations.js' %}"></script>
<script src="{% static 'js/join-Us.js' %}"></script>
<script src="/static/vendor/apexcharts/apexcharts.min.js"></script>


<style>
    .center-block {
    display: block;
    margin: 0 auto;
}

    .carousel-item::before {
  content: "";
  position: absolute;
  
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(116, 119, 116, 0.692); /* Adjust the opacity as needed */
}

     .text-corousel {
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
 
    }
       /* Add rounded corners to the navigation bar */
       nav.navbar {
      border-radius: 20px; /* Adjust the value to control the roundness */
      background-color: #0f717e4b;
    }
.navbar-nav .nav-link:hover {
      background-color: #ffb833;
      color: #000; /* Change the text color on hover if needed */

    }
.navbar-nav .nav-item.nav-link {
    font-size: 14px; 
}
  .navbar-nav  .nav-item .nav-link {
    font-size: 14px; 
}
body{
    background-color: rgb(145, 142, 142);
}
.footed{
    background-color: rgb(14, 13, 13);
}
.custom-h1 {
          font-size: 3em;
          font-weight: bold;
          color: #007BFF; /* Bootstrap's primary color */
      }
      .custom-card {
      border: 1px solid #000; /* Border style */
      padding: 20px; /* Padding inside the card */
      border-radius: 10px; /* Rounded corners */
      background-color: #f0f0f0; /* Background color */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    }

    /* Styles for active nav item */
.navbar-nav .nav-link.active {
    background-color: #333;
}
/* Add a custom class for hiding the navbar */
.navbar.hide-navbar {
    display: none;
}

/* Styles for collapsed navbar on small screens */
@media (max-width: 767px) {
    .navbar-nav {
        display: inline;
        max-width: 50%; 
        position: static;
        scroll-behavior: auto;
        max-height: 10%;/* Adjust as needed */
    }
   
}

</style>

   
     <!-- Topbar Start -->

  <div class="container-fluid px-5 d-none d-lg-block" style="background-color:black;" >
    <div class="row gx-5 py-3 align-items-center">
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-start">
                <i class="bi bi-phone-vibrate fs-1 text-secondary me-2"></i>
                <h4 class="mb-0">0111204383</h4>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center">
                <a href="{% url 'home' %}" class="navbar-brand ms-lg-5">
                    <h1 class="m-1 display-4 "><span class="text-secondary">Mathira</span> Constituency
                    </h1>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-end">
                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="bi bi-twitter"></i></a>
                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="bi bi-facebook"></i></a>
                <a class="btn btn-secondary btn-square rounded-circle me-2" href="#"><i class="bi bi-linkedin"></i></a>
                <a class="btn btn-secondary btn-square rounded-circle" href="#"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
   

<nav class="navbar navbar-expand-lg bg-primary bg-sbtn-secondary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
    <a href="{% url 'home' %}" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary"><span class="text-white">Mathira</span> Constituency</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarCollapse">
        <ul class="navbar-nav mx-auto py-0">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link active" id="home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="events">Events</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'upcoming' event_type='Upcoming' %}" class="dropdown-item" id="upcoming_events">Upcoming Events</a>
                    <a href="{% url 'upcoming' event_type='Past' %}" class="dropdown-item" id="past">Past Events</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="busary">Bursaries</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'busary' %}" class="dropdown-item" id="busary_application">Application Process</a>
                    <a href="{% url 'busary_sta' %}" class="dropdown-item" id="busary_sta">Bursary Statistics</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="projects">Projects</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'request_project' %}" class="dropdown-item" id="request_project">Request a Project</a>
                    <a href="{% url 'project' column_name='Upcoming_Project' %}" class="dropdown-item" id="cdf">Upcoming Projects</a>
                    <a href="{% url 'project' column_name='Ongoing_Project' %}" class="dropdown-item" id="road">Ongoing Projects</a>
                    <a href="{% url 'project' column_name='Past_Project' %}" class="dropdown-item" id="uwezo_fund">Past Projects</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="appointment">Appointments</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'appointment' %}" class="dropdown-item" id="book_app">Book an Appointment</a>
                    <a href="{% url 'contact_us' %}" class="dropdown-item" id="contact_us">Contact Us</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="oppotunity">Opportunities</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'oppotunity' %}" class="dropdown-item" id="register_opp">Registration Process</a>
                    <a href="{% url 'oppotunity_sta' %}" class="dropdown-item" id="oppotune_sta">Opportunity Statistics</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="proffesional">Professionals</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'proffessionals' %}" class="dropdown-item" id="about_prof">About Professionals</a>
                    <a href="{% url 'prof_rejister' %}" class="dropdown-item" id="rej_prof">Register</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="diaspora">Diaspora</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'diaspora' %}" class="dropdown-item" id="diaspora_affair">Diaspora Affairs</a>
                    <a href="{% url 'diaspora_rejister' %}" class="dropdown-item" id="dias_rej">Diaspora Registration</a>
                </div>
            </li>
        <a href="{% url 'login' %}" class="nav-item nav-link">Staff Login</a>

        </ul>
    </div>
</nav>



  {% include 'partials/messages.html' %}

  <!-- Carousel Start -->
  <div class="container-fluid c-sel p-0" style="overflow: hidden; z-index: -1; height: 600px;">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" style="height: 100%;">
        <div class="carousel-inner" style="height: 100%;">
            <div class="carousel-item active" style="height: 90%;">
                <img class="w-100 h-100 object-fit-cover" src="{% static 'img/common/corousel.jpg' %}" alt="Image">
                <div class=" text-center carousel-caption start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                    <div class="text-start p-5 top-0" style="max-width: 900px; position: relative;">
                        <h3 class="text-corousel">Projects</h3>
                        <h4 class="display-4 text-corousel mb-md-4">Streamlined project scheme to benefit Mathira learners.</h4>
                        <a href="{% url 'project' column_name='Upcoming_Project' %}" class="btn btn-primary py-md-3 px-md-5 me-3">Explore How</a>
                        <a href="{% url 'contact_us' %}" class="btn btn-secondary py-md-3 px-md-5">Contact Us</a>
                    </div>
                </div>
            </div>
            {% for image, image_name in corousel_images %}
                {% if image_name != '1' %}
                    <div class="carousel-item" style="height: 90%;">
                        <img class="w-100 h-100 object-fit-cover" src="/{{image}}" alt="Image">
                        <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                            <div class="text-start p-5" style="max-width: 900px;">
                                <h3 class="text-corousel">{{ image_name }}</h3>
                                <h4 class="display-4 text-corousel mb-md-4">View all {{ image_name}} and track their status</h4>
                                <a href="{% url image_name %}" class="btn btn-primary py-md-3 px-md-5 me-3">Explore</a>
                                <a href="{% url 'contact_us' %}" class="btn btn-secondary py-md-3 px-md-5">Contact Us</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


  

</head>
 <body class="bg-primary">
      

          

          <!-- Navbar End -->
          {% block content %}

          {% endblock %}          
 
<footer class="bg-dark w-100">
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn m-0 " data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Address</h5>
                    <p class="mb-2"><i class="bi bi-phone me-3"></i>mathira number</p>
                    <p class="mb-2"><i class="bi bi-envelope me-3"></i>mathira@gnail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="bi bi-twitter"></i></a>
                   
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="bi bi-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Services</h5>
                    <a class="btn btn-link text-light" href="{% url 'diaspora' %}">Diaspora</a>
                    <a class="btn btn-link text-light" href="{% url 'upcoming' event_type='Upcoming' %}">Events</a>
                    <a class="btn btn-link text-light" href="{% url 'project' column_name='Upcoming_Project' %}">Projects</a>
                    <a class="btn btn-link text-light" href="{% url 'busary' %}">Bursary</a>
                    <a class="btn btn-link text-light" href="{% url 'proffessionals' %}">Professionals</a>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Quick Links</h5>
                    <a class="btn btn-link text-light" href="{% url 'home' %}">About Us</a>
                    <a class="btn btn-link text-light" href="{% url 'contact_us' %}">Contact Us</a>
                    <a class="btn btn-link text-light" href="{% url 'home' %}">Our Services</a>
                    <a class="btn btn-link text-light" href="#">Terms & Conditions</a>
                    <a class="btn btn-link text-light" href="#">Support</a>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Newsletter</h5>
                    <p>Subscribe for our News letter</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" href="{% url 'login' %}" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
</div>

</div>
<div class="container">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">Mathira Web</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a class="border-bottom">David</a>
            </div>
        </div>
    </div>
</div>

        </div>

        <a href="#" class="btn btn-lg btn-secondary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

</footer>





</body>

</html>