{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Staff Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'staff/style.css' %}" rel="stylesheet">

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class=" text-white bg-primary">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-dark text-white">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block text-white">Staff Page</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn" style="color: white;"></i>
    </div><!-- End Logo -->

    <div class="search-bar text-white">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>
    <!-- End Search Bar -->
    <div class="nav-item d-block ">

      <a class="nav-link text-light bg-primary p-2" href="#" data-bs-toggle="dropdown">
      <span>Welcom, {{request.user.username}}</span> 
      </a><!-- End Messages Icon -->
    </div>

    <nav class="header-nav ms-auto text-white">
      <ul class="d-flex align-items-center">
        
        
       <li> <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-success p-1 m-2">Log Out</button>
    
        </a></li>


       

        
    </ul>
 
  
    </nav>
    



    

    
    <!-- End Icons Navigation -->
   
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar text-white" style="background-color: green;">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'staff' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'busary_data'  %}">
          <i class="bi bi-grid"></i>
          <span>Busary</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'staff_event' %}">
          <i class="bi bi-grid"></i>
          <span>Events</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'data' dir='appointment_data' template='new_App' model='appointment' %}">
          <i class="bi bi-grid"></i>
          <span>Appointments</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'data' dir='project_data' template='new_Proj' model='project' %}">
          <i class="bi bi-grid"></i>
          <span>Projects</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'data' dir='oppotunities_data' template='new' model='oppotunities' %}">
          <i class="bi bi-grid"></i>
          <span>Oppotunities</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'data' dir='diaspora_data' template='new_App' model='diaspora' %}">
          <i class="bi bi-grid"></i>
          <span>Diaspora</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'data' dir='proffessional_data' template='new' model='Proffession' %}">
          <i class="bi bi-grid"></i>
          <span>Proffession</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'customize' %}">
          <i class="bi bi-grid"></i>
          <span>Customize</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed bg-dark text-light" href="{% url 'project_customizer' %}">
          <i class="bi bi-grid"></i>
          <span>Project Images</span>
        </a>
      </li>

      
     
      

      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main bg-primary" >
     {% include 'partials/messages.html' %}
   
    {% block content %}

    {% endblock %}


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer text-white " >
    <div class="copyright text-white">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits text-white">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by David</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'staff/main.js' %}"></script>


</body>

</html>