{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Navbar End -->



    <div class="container-fluid bg-dark facts mt-2 py-5 mb-5" id="Job-Statistics">
        <div class="container py-5">
            <div class="row gx-5 gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-database fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Total Applications</h5>
                            <h1 class="display-5 text-white mb-0"><span data-toggle="counter-up">{{ count }}</span></h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-clock fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Successful Applicants</h5>
                            <h1 class="display-5 text-white mb-0"><span data-toggle="counter-up">{{ approved }}</span></h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-check-circle fs-4 text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">Success Rate</h5>
                            <h1 class="display-5 text-white mb-0"><span data-toggle="counter-up">{{ percentage }}</span>%</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}



