
{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="container-fluid py-2">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h3 class="text-white text-uppercase">Professionals Affairs</h3>
            </div>
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="bg-dark h-100 p-5">
                        <p class="text-white">
                            The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.

                            This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                            
                            One of the pivotal roles of this Proffesons group is to bridge opportunities for Mathira residents, linking them with promising prospects for employment and entrepreneurial ventures overseas. This not only fosters professional growth but also fosters a strong sense of unity and empowerment within the Mathira community.
                            
                            Through their combined efforts and a shared sense of responsibility towards their roots, the Mathira Proffesons Forum endeavors to make a lasting and positive impact on the socio-economic landscape of Mathira. </p>
                  
                        <ol class="text-white">
                            <li> <p class="text-white">
                                The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.
    
                                This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                                
                                One of the pivotal roles of this Proffesons group is to bridge opportunities for Mathira residents, linking them with promising prospects for employment and entrepreneurial ventures overseas. This not only fosters professional growth but also fosters a strong sense of unity and empowerment within the Mathira community.
                                
                                Through their combined efforts and a shared sense of responsibility towards their roots, the Mathira Proffesons Forum endeavors to make a lasting and positive impact on the socio-economic landscape of Mathira. </p>
                      
                            </li>
                            <li>
                                <p class="text-white">
                                    The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.
        
                                    This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                                    
                                 
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-primary h-100 p-5">
                        
                            <p class="text-white">
                                The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.
    
                              
                        
                        <ol class="text-white">
                            <li>
                                <p class="text-white">
                                    The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.
        
                                    This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                                    
                                 
                            </li>
                            <li>
                                <p class="text-white">
                                    The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.
        
                                    This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                                    
                                 
                            </li>
                            <li>
                                <p class="text-white">
                                    The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.
        
                                    This forum holds regular online meetings, providing a platform for these accomplished professionals to connect, share insights, and collaborate on meaningful projects. Their focus areas encompass education, empowerment, and healthcare, aligning with their vision to uplift their community.
                                    
                                 
                            </li>

                        </ol> 
                        <p class="text-white">
                            The Mathira Proffesons Forum is a dynamic network comprising hundreds of professionals from Mathira currently residing and excelling in various fields across the globe. Their collective aspiration is to actively contribute to the development and growth of their home constituency. Under the guidance and initiative of the Member of Parliament (MP), the Mathira Proffesons Forum was established to facilitate their engagement.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    
    <script>

     countryCodeDropdown = document.getElementById("countryCode");
     phoneNumberInput = document.getElementById("D-Contact");
     fullPhoneNumberInput = document.getElementById("fullPhoneNumber");

    
    for (let i = 1; i <= 999; i++) {
         countryCode = i < 100 ? `+${i}` : `+${i.toString()}`;
         option = document.createElement("option");
        option.value = countryCode;
        option.text = countryCode;
        countryCodeDropdown.appendChild(option);
    }
    </script>

{% endblock %}



