{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="mathira-overview" class="py-5 section shadow p-3 mb-5 rounded border border-light bg-dark">
    <div class="container">
      <div class="row">
        <!-- Overview Column -->
        <div class="col-md-12 text-white">
          <div class="overview-column p-4">
            
<div class="container">
    
    <div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 m-2 p-3 " style="border-radius: 100px;" >
    <h6 class=" text-uppercase p-3">Proffesional Application</h6>
   
  </div>
    <div class="row g-5">
    <p>Welcome to our Professionals Page! Discover the pathway to joining our esteemed community of professionals. We invite individuals like you to become a part of a vibrant network that nurtures growth, knowledge, and collaboration.</p>
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-file-earmark-arrow-up"></i>

        </div>
      <h5 class="text-light">Step 1: Submit Your Request</h5>
      <p>To join our community of professionals, start by submitting a request. Click on the 'Submit Request' button to begin the process.

      </p>
       </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-pencil"></i>

        </div>
      <h5 class="text-light">Step 2: Share Your Information</h5>
     <p>Fill in the requested details in the provided form. We value accuracy and completeness in the information provided.

     </p>
    </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-upload"></i>

        </div>
      <h5 class="text-light">Step 3: Await Approval</h5>
      <p>Once you've submitted your request, our team will carefully review the information provided. Please allow us some time to conduct a thorough evaluation.</p>
    </div>
  
    <div class="step col-lg-6">
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-journal-check"></i>

        </div>
      <h5 class="text-light">Step 4: Consideration Process</h5>
      <p>Our team will assess your request to ensure it aligns with our criteria and standards. We are dedicated to maintaining a community of professionals committed to excellence.

      </p>
    </div>
  
    <div class="step col-lg-6">
        
        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
            <i class="bi bi-chat-dots"></i>

        </div>
      <h5 class="text-light">Step 5: Confirmation of Approval</h5>
      <p>Upon successful review and approval of your request, you will receive a confirmation email. This email will contain details about accessing our professional community.

      </p>
    </div>
  
    
</div>
  
  </div>
  
  
          </div>
        </div>
  
  
  
  
        <!-- Map Column -->
      </div>
    </div>
  </section>

 

            <div class="container-fluid bg-primary feature py-5 pb-lg-0 w-100" id="How-to-Apply" style="margin-bottom: 135px;">
                <div class="container py-5 pb-lg-0">
                    <div class="row g-5">
                        <div class="mx-auto text-center mb-5 m-0 p-0 bg-new w-50 " style="border-radius: 100px;" >
                            <h6 class=" text-uppercase p-3">Are you a Proffessional in Mathira?  Register</h6>
                           
                        </div>
                        <div class="container-fluid bg-primary feature py-5 pb-lg-0" id="How-to-Apply" style="margin-bottom: 135px;">
                            <div class="container py-5 pb-lg-0">
                                <div class="row g-5">
                                    <div class="col-lg-6">
                                        <div class="text-white mb-5">
                                            <div class=" text-center bg-new w-50  " style="border-radius: 100px;" >
                                                <h6 class=" text-uppercase p-2"> Form Guide</h6>
                                               
                                              </div>
                                          
                                            <p>Please complete the form below with accurate and relevant information. Each field has specific instructions to guide you in providing the required details.</p>

                                            <ol>
                                                <li><strong>Name:</strong> Enter your full name in this field.</li>
                                                <li><strong>Email:</strong> Provide your email address for communication.</li>
                                                <li><strong>ID Number:</strong> Fill in your identification number.</li>
                                                <li><strong>Profession:</strong> Specify your profession or occupation.</li>
                                                <li><strong>Education Level:</strong> Select your highest level of education from the options provided.</li>
                                                <li><strong>Age:</strong> Enter your age in years.</li>
                                                <li><strong>Phone Number:</strong> Provide a contact phone number.</li>
                                                <li><strong>Gender:</strong> Select your gender from the options available.</li>
                                                <li><strong>Ward:</strong> Choose the ward associated with your location.</li>
                                                <li><strong>Location:</strong> Select your current location.</li>
                                                <li><strong>Sub-Location:</strong> Specify your sub-location or area within the location.</li>
                                                <li><strong>Date:</strong> Choose the date relevant to your submission. (Do not change this field)</li>
                                              </ol>
                                              <p>Your information is important to us. We appreciate your time and effort in providing the necessary details. Our team will review your submission and reach out if further information is required. Thank you!</p>

                                            </div>
                                    </div>
                        <div class="col-lg-6" id="OnlineReg">
                            <div class="bg-dark h-100 d-flex justify-content-between">
                        
                                <div class=" wow fadeInUp" data-wow-delay="0.5s">
                                    <div class=" rounded h-100 d-flex align-items-center p-5">
                              
                                <form method="POST">
                                    <div class="row g-3">
                                     
                                        {% csrf_token %}
                        
            
                            
               


                            
                    
                            

                            
                  
                    
                            
                    
                            
                
                            <!-- Add the form fields from forms.py -->
                         <div class="row g-3 text-white" >
                            <div class="col-md-6">
                                {{ form.name.label_tag }} {{ form.name }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email.label_tag }} {{ form.email }}
                            </div>
                            <div class="col-md-6">
                                {{ form.id_number.label_tag }} {{ form.id_number }}

                            </div>
                            <div class="col-md-6">
                                {{ form.proffession.label_tag }} {{ form.proffession }}

                            </div>
                            <div class="col-md-6">
                                {{ form.education_level.label_tag }} {{ form.education_level }}

                            </div>
                            <div class="col-md-6">
                                {{ form.age.label_tag }} {{ form.age }}

                            </div>
                            <div class="col-md-6">

                                {{ form.phone_number.label_tag }} {{ form.phone_number }}

                            </div>
                            <div class="col-md-6">
                                {{ form.gender.label_tag }} {{ form.gender }}

                            </div>
                            <div class="col-md-6">
                                {{ form.ward.label_tag }} {{ form.ward }}

                            </div>
                            <div class="col-md-6">
                                {{ form.location.label_tag }} {{ form.location }}

                            </div>
                            <div class="col-md-6">
                                {{ form.sub_location.label_tag }} {{ form.sub_location }}

                            </div>
                            <div class="col-md-6">
                            {{ form.date.label_tag }} {{ form.date }}

                            </div>

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        
            
                        
                    </div>
                </div>

            </div>
        




    
    
{% endblock %}






  